*{
    margin: 0%;
    padding: 0%;
}
body{
    background: linear-gradient(to right, #041b83, #103cb6, #0a5dda, #0077ff);
}
h1{
    color: aliceblue;
}
p{
    color: aliceblue;
}

.cabecalho{
    background-color: #3a3a55;
    padding: 30px;
    text-align: center;
    display: flex;
   
}
.computador{
    padding: 10px;
    right: 50%;
}