*{
    margin: 0%;
    padding: 0%;
}
body{
    background: linear-gradient(to right, #02104e, #0b2d8d, #084aad, #0a73eb);
}
h1{
    color: aliceblue;
}
p{
    color: aliceblue;
}

.cabecalho{
    background-color: #1458d6;
    padding: 30px;
    text-align: center;
    display: flex;
   
}
.computador{
    padding: 10px;
    right: 50%;
}